/* 9fbef606107a605d69c0edbcd8029e5d */
html > body {
  opacity: 1 !important;
}

.dark-overlay {
  display: none;
  background-color: #1a1a1a;
  position: absolute;
  top: 157px;
  z-index: 1;
  height: 100%;
  opacity: 0.6;
  width: 100%;
}

label.visuallyhidden p {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: inline-block;
}

@media (min-width: 768px) {
  .dark-overlay {
    top: 125px;
  }
}

@media (min-width: 1200px) {
  .dark-overlay {
    display: none !important;
  }
}
